

/* Commentary

Color 
Blue -> #0065FC
light blue -> #DEEBFF

*/

/* Font */
@font-face{
    font-family:'raleway';
    src: url('fonts/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Body */
body{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.image-hm1{
    max-height: 55%;
    border-radius: 15px 20px 0px 0px;
}
.image-hm2{
    max-width: 33%;
    border-radius: 18px 0px 0px 18px;
}
.image-act1{
    max-height: 90%;
    max-width: 100%;
    border-radius: 15px 20px 0px 0px;
}

/* Icons */
.module-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    width: 37px;
    height: 100%;
    

}
.fas, .far{
    color: #0065FC;
    background-color: #DEEBFF;
    
}
#iconmap{
    color: #000000;
}


/* Le header */
.reservia-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    flex-direction: row;
    max-height: 80px;
    padding-left: 15px;
}
.reservia-logo{
    display: flex;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 5px;
}
.reservia-menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 25%;
    max-width: 400px;
    border: 2px solid rgb(3, 3, 3);
    margin: 5px;
}
.menu-hebergement{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(64, 145, 160);
    color: #0065FC;
    padding: 5px;
    margin: 5px;
}
.menu-activites{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(65, 139, 145);
    color: black;
    padding: 5px;
    margin: 5px;
}
.menu-inscription{
    display: flex;
    justify-content: space-around;
    border: 2px solid rgb(75, 167, 154);
    color: #0065FC;
    padding: 5px;
    margin: 5px;
}


/* La navigation */
.navigation{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-left: 15px;
}
.nav1{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
}
.recherche-module{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    height: 37px;
    width: 325px;
}
.icon-map{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 12%;
    border-radius: 12px 0px 0px 12px;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
}
.champ-recherche{
    height: 100%;
    width: 55%;
    border: 2px solid #DEEBFF;
}
.saisie{
    background-color: #ffffff;
    border: #DEEBFF;
    height: 100%;
    width: 100%;
}
.recherche-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 32%;
    border-radius: 0px 12px 12px 0px;
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color: white;
}
.nav2{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
    margin: 5px;
}
.filtres{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;

    border: 1px solid rgb(0, 0, 0);
    max-width: 1000px;
    padding: 2px;
    margin: 5px;
}
.filtre-option{
    display: flex;
    border: 2px solid #DEEBFF;
    align-items: center;
    border-radius: 20px 20px 20px 20px;
    margin: 5px;
}
.filtre-text{
    margin: 0 8px 0 8px;
}
.filtre-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    max-width: 500px;
    margin: 5px;
    border: 1px solid rgb(0, 0, 0);
}


/* Section hebergements */
.hebergements{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    
}
.hebergements-marseille{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    width: 65%;
    
    padding: 2px;
    margin: 35px;
    border: 1px solid rgb(0, 0, 0);
}
.titre-hebergement{
    display: flex;
    padding-left: 5%;
    border: 1px solid rgb(0, 0, 0);
    width: 100%;
}
.group-annonce{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    width: 100%;
    border: 1px solid black;
}
.les-plus-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    width: 28%;
    padding: 5px;
    margin-top: 35px;
    margin-right: 35px;
    margin-bottom: 35px;
    border: 1px solid rgb(0, 0, 0);
    height: 550px
}
.titre-plus-populaires{
    display: flex;
    flex-direction: column;
    margin: 1px;
    border: 1px solid rgb(0, 0, 0);
    width: 80%;
}
.annonce-hm1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 2px solid rgb(255, 255, 255);
    width: 25%;
    height: 40%;
    
}
.annonce-hm2{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 2px solid rgb(255, 255, 255);
    width: 80%;
    height: 20%;
    
}
.afficher{
    border: 1px solid black;
    padding-left: 5%;
    width: 100%;
}


/* Section Activités */
.activites{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    padding: 1px;   
}
.titre-activite{
    display: flex;
    border: 1px solid black;
    margin: 1px;
    width: 98%;
}
.group-activite{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 98%;
    height: 380px;
    min-height: 350px;
    margin: 2px;
}
.activites-module{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 98%;
    border: 1px solid black;
    margin: 2px;
}
.annonce-act1{
    display: flex;
    flex-direction: column;
    border-radius: 15px 15px 15px 15px;
    width: 50%;
    border: 1px solid rgb(71, 139, 151);
    margin: 10px;
}
.group-act2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid black;
    margin: 10px;
}
.annonce-act2{
    display: flex;
    border: 1px solid rgb(50, 150, 163);
    border-radius: 15px 15px 15px 15px;
    height: 50%;
    width: 98%;
    padding: 1px;
    margin: 2px;  
}


/* Le Footer */
.reservia-footer{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    justify-content: space-around;
}
.module-footer{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(60, 150, 65);
}
