
/* Commentary

Color 
Blue -> #0065FC
light blue -> #DEEBFF

Font */
@font-face{
    font-family:'raleway';
    src: url('fonts/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Body */
body{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
}
h3{
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 0px 0px 1px black;
}
p{
    font-size: 1em;
    padding-left: 5px;
    text-shadow: 0px 0px 2px black;
}
.fas{
    color: #0065FC;
    background-color: #ffffff;
    
}
.FlexAroundCenter{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Le header */
.header{
    display: flex;
    flex-direction: row;
    padding-left: 45px;
}
.reservia__logo{
    display: flex;
    padding: 10px;
    margin: 5px;
    padding-left: 20px;
    width: 75%;
}
.reservia__menu{
    flex-direction: row;
    width: 25%;
    max-width: 400px;
}
.menu__hebergement{
    font-weight: bold;
    text-shadow: 0px 0px 1px #0065FC;
    color: #0065FC;
    height: 100%;
    width: 50%;
    border-top:2px solid #0065FC;
}
.menu__activites{
    width: 50%;
    color: black;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
.ancres-menu{
    color: #0065FC;
}
.inscription-module{
    flex-direction: row;
    align-items: center;
    width: 10%;
}
.inscription{
    color: #0065FC;
    font-weight: bold;
    text-shadow: 0px 0px 1px #0065FC;
    padding: 5px;
    margin: 5px;
}

/* La navigation */
.navigation{
    display: flex;
    flex-direction: column;
    padding-left: 50px;;
}
.nav__recherche{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
}
.recherche-module{
    flex-direction: row;
    height: 50px;
    width: 400px;
}
.module-icon-map{
    height: 100%;
    width: 12%;
    border-radius: 15px 0px 0px 15px;
    border: 1px solid #DEEBFF;
    background-color: #DEEBFF;
}
.iconmap{
    color: #000000;
    background-color: #DEEBFF;
    font-size: 20px;
}
.champ-recherche{
    height: 100%;
    width: 55%;
    border: 1px solid #DEEBFF;
}
input{
    font-weight: bold;
}
.saisie{
    background-color: #ffffff;
    border: 1px solid #DEEBFF;
    height: 93%;
    width: 100%;
    padding-left: 20px;
}
.recherche-button{
    height: 100%;
    width: 32%;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    color: white;
}
.icon-rechercher{
    display: none;
}
.iconsearch{
    color: #DEEBFF;
    background-color: #0065FC;
}
.nav__filtres{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.filtres{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    max-width: 800px;
    padding: 2px;
    margin: 5px;
}
.filtre-responsiv{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    max-width: 800px;
}
.filtre-option{
    display: flex;
    border: 3px solid #DEEBFF;
    align-items: center;
    border-radius: 23px 23px 23px 23px;
    margin: 5px;
}
.filtre-option:hover{
    border: 3px solid #0065FC;
}
.module-icon{
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 23px 23px 23px 23px;
    width: 44px;
    height: 100%;
}
.filtre-text{
    margin: 0 8px 0 8px;
    text-shadow: 0px 0px 1px black;
}
.filtre-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    margin: 5px;
    padding-left: 20px;
}
.iconinfo{
    border: 1px solid #DEEBFF;
    border-radius: 40px;
    margin: 12px;
    padding: 5px;
}

/* Section hebergements */
.hebergements{
    width: 100%;
}
.hebergements__marseille{
    flex-direction: column;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    width: 60%;
    padding: 2px;
    margin: 35px;
}
.titre-hebergement{
    display: flex;
    padding-left: 5%;
    width: 100%;
}
.group-annonce{
    flex-flow: row wrap;
    height: 480px;
    width: 100%;
}
.annonce-hm1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    width: 28%;
    height: 40%;
    box-shadow: 1px 1px 10px grey;   
}
.module-img1{
    height: 80%;
    border-radius: 15px 15px 0px 0px;
    overflow: hidden;
}
.img1{
    display: flex;
    justify-self: flex-end;
    max-width: 100%;
}
.icon__star{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.icon__star--grey{
    color: gray;
    opacity: 0.4;
    background-color: #ffffff;
}
.hebergements__populaires{
    flex-direction: column;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    width: 28%;
    padding: 5px;
    margin: 35px 35px 35px 0;
    height: 600px
}
.titre-populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin: 1px;
    width: 80%;
}
.icon-populaire{
    background-color: #DEEBFF;
    color: #000000;
    height: 100%;
    width: 40px;
    font-size: 30px;
}
.annonce-hm2{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    width: 80%;
    height: 20%;
    box-shadow: 1px 1px 10px grey;  
}
.module-img2{
    max-width: 33%;
    border-radius: 18px 0px 0px 18px;
    overflow: hidden;
}
.img2{
    display: flex;
    justify-self: flex-end;
    max-height: 100%;
}
.text-annonce2{
    display: flex;
    flex-direction: column;
}
.icon-hm2{
    display: flex;
    height: 50%;
    align-items: flex-end;
    padding-bottom: 5px;
}
.afficher{
    padding-left: 5%;
    width: 100%;
    font-size: 1.4em;
}

/* Section Activités */
.activites{
    flex-direction: column;
    padding: 1px;
    height: 600px; 
}
.titre-activite{
    display: flex;
    margin: 1px;
    width: 95%;
    height: 10%;
    padding-left: 60px;
}
.group-activites{
    flex-direction: row;
    width: 95%;
    height: 90%;
    min-height: 350px;
    margin: 2px;
}
.module-activites{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 98%;
    margin: 2px;
}
.annonce-act1{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}
.module-img-act{
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 90%;
    border-radius: 15px 15px 0px 0px;
}
.image-act1{
    display: flex;
    justify-self: flex-end;
    max-height: 100%;
}
.image-act2{
    display: flex;
    justify-self: flex-end;
    max-width: 100%;
}
.group-act2{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 10px;
}
.annonce-act2--top{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    height: 55%;
    width: 98%;
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}
.annonce-act2--bot{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    height: 35%;
    width: 98%;
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}
.annonce-act3{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    height: 45%;
    width: 98%;
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}

/* Le Footer */
.footer{
    flex-direction: row;
    background-color: #DEEBFF;
    height: 200px;
    margin-top: 20px;
    padding-top: 15px;
}
.footer__module{
    display: flex;
    flex-direction: column;
    width:28%;
    height: 80%;
}
.footer__titre{
    display: flex;
    align-items: center;
    height: 20%;
    height: 80%;
}
.footer__text{
    display: flex;
    flex-direction: column;
    height: 80%;
}



/* Responsive Mobile 
Mobile = 500px
*/
@media screen and (max-width: 499px){
    /* body */
    p{
        padding-left: 7px;
    }
    /* Header */
    .header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 0px;
    }
    .reservia__logo{
        width: 40%;
        padding-left: 10px;
    }
    .reservia__menu{
        align-self: flex-end;
        width: 100%;
        order: 3;
    }
    .menu__hebergement{
        border-top: none;
        height: 40px;
        border-bottom: 2px solid #0065FC;
    }
    .inscription-module{
        height: 65px;
        margin: 5px;
        width: 20%;
        order: 2;
    }
    /* Navigation */
    .navigation{
        padding-left: 0px;
    }
    .module-icon-map{
        width: 20%;
    }
    .recherche-module{
        width: 100%;
    }
    .champ-recherche{
        width: 88%;
    }
    .recherche-button{
        display: none;
    }
    .icon-rechercher{
        display: flex;
        height: 100%;
        width: 20%;
        border-radius: 12px 12px 12px 12px;
        border: 1px solid #0065FC;
        background-color: #0065FC;
        color: white;
    }
    .filtres{
        flex-direction: column;
    }
    .filtre-responsiv{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 160px;
    }
    .filtre-option{
        max-height: 40px;
    }
    .filtre-info{
        padding-left: 2px;
    }
    /* Hebergements */
    .hebergements{
        flex-direction: column-reverse;
    }
    .hebergements__populaires{
        width: 100%;
        margin: 0px;
        border-radius: 0;
    }
    .titre-populaires{
        width: 95%;
    }
    .annonce-hm2{
        width: 90%;
        height: 23%;
    }
    .module-img2{
        display: flex;
    }
    .img2{
        max-height: 100%;
    }
    .hebergements__marseille{
        background-color: white;
        width: 100%;
        margin: 0px;
        border: #ffffff;
        border-radius: 0; 
    }
    .group-annonce{
        flex-direction: column;
        flex-wrap: unset;
        width: 98%;
        height: 1200px;
    }
    .annonce-hm1{
        width: 90%;
        height: 15%;
    }
    /* Activités */
    .activites{
        justify-content: space-between;
        height: 1250px;
        margin: 0;
        padding: 0;
    }
    .titre-activite{
        height: 60px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .group-activites{
        flex-direction: column;
        justify-content: space-between;
        height: 94%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .module-activites{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .group-act2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 67%;
        margin: 0;
        padding: 0;
    }
    .annonce-act1, .annonce-act2--top, .annonce-act2--bot, .annonce-act3{
        height: 175px;
        width: 95%;
        margin: 0;
        padding: 0;   
    }
    .module-img-act{
        display: flex;
        overflow: hidden;
    }
    .image-act1{
        display: flex;
        justify-self: flex-end;
        max-width: 100%;
        max-height: none;
    }
    /* Footer */
    .footer{
        flex-direction: column;
        justify-content: space-between;
        height: 560px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .footer__module{
        height: 140px;
        width: 90%;
        padding: 20px;
    }
    .footer__titre{
        height: 40%;
    }
}



/* Responsive Tablette
Tablette = 900px
*/
@media screen and (min-width: 500px) and (max-width: 1100px){

    /* Body */
    p{
        font-size: 0.8em;
        padding-left: 2px;
    }
    /* Header */
    .header{
        padding-left: 25px;
    }
    .reservia__logo{
        width: 30%;
    }
    .reservia__menu{
        width: 48%;
    }
    /* Navigation */
    .navigation{
        padding-left: 20px;
    }
    .filtres{
        flex-direction: column;
    }
    .filtre-responsiv{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .filtre-option{
        min-height: 40px;
    }
    /* Hebergements */
    .hebergements{
        flex-direction: column-reverse;
    }
    .hebergements__populaires{
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        height: 200px;
        margin: 2px;
        padding: 2px;
    }
    .titre-populaires{
        align-items: center;
        width: 90%;
        height: 15%;
        margin: 2px;
        padding: 2px;
    }
    .icon-populaire{
        font-size: 25px;
    }
    .annonce-hm2{
        flex-direction: column;
        width: 30%;
        height: 70%;
    }
    .module-img2{
        border-radius: 18px 18px 0px 0px ;
        max-width: 100%;
        max-height: auto;
        overflow: hidden;
    }
    .img2{
        max-height: none;
    }
    .icon__star{
        width: 80px;
        margin-left: 20px
    }
    .hebergements__marseille{
        justify-content: space-between;
        width: 90%;
        height: 550px;
        margin: 5px;
        padding: 2px;
    }
    .titre-hebergement{
        align-items: center;
        width: 90%;
        height: 5%;
        margin: 2px;
        padding: 2px;
    }
    .afficher{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        height: 5%;
        padding-left: 0px;
    }
    /* Activités */
    .activites{
        height: 800px;
        justify-content:initial;
    }
    .titre-activite{
        align-items: center;
        width: 90%;
        height: 5%;
        margin: 2px;
        padding-left: 60px;
    }
    .group-activites{
        flex-direction: column;
        height: 95%;
        width: 95%;
        margin: 0px;
    }
    .module-activites{
        height: 50%;
        width: 100%;
        margin: 0;
    }
}