body{
    display: flex;
    flex-direction: column;

    background-color: #F2F2F2;
}
img{
    max-width: 100%;
}

/* Le header */
.reservia-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    flex-direction: row;
    max-height: 80px;
}
.reservia-logo{
    display: flex;
    border: 2px solid rgb(148, 53, 53);
    padding: 10px;
    margin: 5px;
}
.reservia-menu
{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 25%;
    max-width: 300px;
    border: 2px solid rgb(68, 146, 75);
    margin: 5px;
}
.menu1{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;

}
.menu2{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;

}
.menu3{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;

}



/* La navigation */
.navigation{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    
}
.nav1{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(51, 134, 96);
    padding: 10px;
    margin: 5px;

}
.nav2{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(54, 62, 139);
    padding: 10px;
    margin: 5px;

}
.filtres{
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    padding: 2px;
    margin: 5px;

}
.filtre-eco{
    display: flex;
    border: 1px solid rgb(54, 62, 139);
    padding: 2px;
    margin: 5px;

}
.filtre-fam{
    display: flex;
    border: 1px solid rgb(54, 126, 139);
    padding: 2px;
    margin: 5px;
    
}
.filtre-rom{
    display: flex;
    border: 1px solid rgb(155, 50, 59);
    padding: 2px;
    margin: 5px;
    
}
.filtre-ani{
    display: flex;
    border: 1px solid rgb(160, 179, 53);
    padding: 2px;
    margin: 5px;
    
}


/* Section hebergements */
.hebergements{
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    
}
.hebergements-marseille{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(19, 20, 78);
    width: 70%;
    height: 400px;
    padding: 2px;
    margin: 20px;

}
.titre-hebergement{
    display: flex;
    border: 1px solid rgb(19, 20, 78);
    padding-left: 20px;
}
.group-annonce{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border: 1px solid rgb(19, 20, 78);
    height: 100%;
    width: 100%;
    padding: 2px;
    margin: 2px;
}
.les-plus-populaires{
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(34, 110, 112);
    width: 30%;
    padding: 5px;
    margin: 20px;

}
.annonce-hm1{
    display: flex;
    width: 30%;
    height: 48%;
    border: 1px solid rgb(167, 49, 104);

}
.annonce-hm2{
    display: flex;
    border: 1px solid rgb(73, 12, 41);
    width: 100%;
    height: 30%;
}

/* Section Activités */
.activites{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 2px;
    margin: 5px;
}
.titre-activite{
    display: flex;
    border: 1px solid black;
    padding: 2px;
    margin: 1px;
}
.group-activite{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    min-height: 350px;
    padding: 2px;
    margin: 5px;
}
.activites-module{
    display: flex;
    justify-content: space-around;
    width: 50%;
    border: 1px solid black;
    margin: 2px;
}
.annonce-act1{
    display: flex;
    width: 50%;
    border: 1px solid black;
    margin: 20px;
    max-width: 200px;
}
.group-act2{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border: 1px solid black;
    margin: 2px;
}
.annonce-act2{
    display: flex;
    border: 1px solid rgb(50, 150, 163);
    height: 50%;
    padding: 1px;
    margin: 20px;
    max-width: 200px;
}


/* Le Footer */
.reservia-footer{
    display: flex;
    border: 1px solid black;
    justify-content: space-around;

}
.propos{
    border: 1px solid rgb(60, 150, 65);
    padding: 10px;
    margin: 5px;
}
.noshebergements{
    border: 1px solid rgb(63, 133, 151);
    padding: 10px;
    margin: 5px;
}
.assistance{
    border: 1px solid rgb(148, 42, 77);
    padding: 10px;
    margin: 5px;
}
