

/* Commentary

Color 
Blue -> #0065FC
light blue -> #DEEBFF

*/

/* Font */
@font-face{
    font-family:'raleway';
    src: url('fonts/Raleway-Light.ttf');
    font-weight: normal;
    font-style: normal;
}

/* Body */
body{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    font-family: 'raleway', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
h2{
    font-size: 1.2em;
    font-weight: bold;
    text-shadow: 0px 0px 2px black;
}
p{
    font-size: 1em;
    padding-left: 5px;
    text-shadow: 0px 0px 2px black;
}
.fas, .far{
    color: #0065FC;
    background-color: #DEEBFF;
    
}


/* Le header */
.reservia-header{
    display: flex;
    flex-direction: row;
    padding-left: 45px;
}
.reservia-logo{
    display: flex;
    padding: 10px;
    margin: 5px;
    padding-left: 20px;
    width: 75%;
}
.reservia-menu{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 25%;
    max-width: 400px;
}
.menu-hebergement{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0065FC;
    height: 100%;
    width: 50%;
    border-top:2px solid #0065FC;
}
.menu-activites{
    display: flex;
    justify-content: space-around;
    width: 50%;
    color: black;
    padding: 5px;
    margin: 5px;
}
.ancres-menu{
    color: #0065FC;
}
.inscription-module{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    width: 10%;
}
.menu-inscription{
    display: flex;
    justify-content: space-around;
    color: #0065FC;
    padding: 5px;
    margin: 5px;
}


/* La navigation */
.navigation{
    display: flex;
    flex-direction: column;
    padding-left: 50px;;
}
.nav1{
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 5px;
}
.recherche-module{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 400px;
}
.icon-map{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 12%;
    border-radius: 15px 0px 0px 15px;
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
}
#iconmap{
    color: #000000;
}
.champ-recherche{
    height: 100%;
    width: 55%;
    border: 2px solid #DEEBFF;
}
.saisie{
    background-color: #ffffff;
    border: #DEEBFF;
    height: 100%;
    width: 100%;
    font-weight: bold;
}
.recherche-button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 32%;
    border-radius: 0px 15px 15px 0px;
    border: 2px solid #0065FC;
    background-color: #0065FC;
    color: white;
}
.icon-rechercher{
    display: none;
}
#iconsearch{
    color: #DEEBFF;
    background-color: #0065FC;
}
.nav2{
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.filtres{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    max-width: 800px;
    padding: 2px;
    margin: 5px;
}
.filtre-responsiv{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    max-width: 800px;
}
.filtre-option{
    display: flex;
    border: 3px solid #DEEBFF;
    align-items: center;
    border-radius: 23px 23px 23px 23px;
    margin: 5px;
}
.filtre-option:hover{
    border: 2px solid #0065FC;
}
.module-icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #0065FC;
    background-color: #DEEBFF;
    border-radius: 23px 23px 23px 23px;
    width: 44px;
    height: 100%;
}
.filtre-text{
    margin: 0 8px 0 8px;
    text-shadow: 0px 0px 1px black;
}
.filtre-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 500px;
    margin: 5px;
    padding-left: 20px;
}
#iconinfo{
    border: 1px solid #DEEBFF;
    border-radius: 40px;
    margin: 12px;
    padding: 5px;
    border: 1px solid #DEEBFF;

}


/* Section hebergements */
.hebergements{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
}
.hebergements-marseille{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    width: 60%;
    padding: 2px;
    margin: 35px;
}
.titre-hebergement{
    display: flex;
    padding-left: 5%;
    width: 100%;
}
.group-annonce{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 480px;
    width: 100%;
}
.les-plus-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #DEEBFF;
    border: 2px solid #DEEBFF;
    border-radius: 20px 20px 20px 20px;
    width: 28%;
    padding: 5px;
    margin: 35px 35px 35px 0;
    height: 600px
}
.titre-plus-populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin: 1px;
    width: 80%;
}
#icon-populaire{
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #000000;
    height: 100%;
}
.icon-hm{
    display: flex;
    flex-direction: row;
    background-color: white;
}
.annonce-hm1{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    width: 25%;
    height: 40%;
    box-shadow: 1px 1px 10px grey;
    
}
.module-img1{
    height: 55%;
    border-radius: 15px 15px 0px 0px;
    border:2px solid black ;
    overflow: hidden;
}
.testimg1{
    display: flex;
    justify-self: flex-end;
    max-width: 100%;
}
.image-hm1{
    width: 100%;
    overflow: hidden;
    border-radius: 15px 15px 0px 0px;

}
.annonce-hm2{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    width: 80%;
    height: 20%;
    box-shadow: 1px 1px 10px grey;  
}
.image-hm2{
    max-width: 33%;
    border-radius: 18px 0px 0px 18px;
}
.text-hm2{
    display: flex;
    flex-direction: column;

}
#icon-hm2{
    display: flex;
    height: 50%;
    align-items: flex-end;
    padding-bottom: 5px;
}
.afficher{
    padding-left: 5%;
    width: 100%;
    font-size: 1.4em;
}


/* Section Activités */
.activites{
    display: flex;
    flex-direction: column;    
    justify-content: space-around;
    align-items: center;
    padding: 1px;
    height: 600px; 
}
.titre-activite{
    display: flex;
    margin: 1px;
    width: 95%;
    height: 10%;
    padding-left: 60px;
}
.group-activite{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 90%;
    min-height: 350px;
    margin: 2px;
}
.activites-module{
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 98%;
    margin: 2px;
}
.annonce-act1{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10px;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}
.image-act1{
    height: 90%;
    width: 100%;
    border-radius: 15px 20px 0px 0px;
}
.group-act2{
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
    align-items: center;
    width: 45%;
    margin: 10px;
}
.annonce-act2-top{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    height: 55%;
    width: 98%;
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}
.annonce-act2-bot{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    height: 35%;
    width: 98%;
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}
.annonce-act3{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 18px 18px 18px 18px;
    border: 5px solid rgb(255, 255, 255);
    height: 45%;
    width: 98%;
    box-shadow: 0px 0px 10px rgb(209, 206, 206);
}
.image-act2{
    height: 80%;
    width: 100%;
    border-radius: 15px 20px 0px 0px;
}


/* Le Footer */
.reservia-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #DEEBFF;
    height: 200px;
    margin-top: 20px;
    padding-top: 15px;
}
.module-footer{
    display: flex;
    flex-direction: column;
    width:28%;
    height: 80%;
}
.footer-titre{
    display: flex;
    align-items: center;
    height: 20%;
    height: 80%;
}
.footer-text{
    display: flex;
    flex-direction: column;
    height: 80%;
}










/* Responsive Mobile 
Mobile = 480px

*/
@media screen and (max-width: 480px){
    /* Header */
    .reservia-header{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-left: 0px;
    }
    .reservia-logo{
        width: 40%;
        padding-left: 10px;
    }
    .reservia-menu{
        display: flex;
        align-self: flex-end;
        width: 100%;
        order: 3;
    }
    .menu-hebergement{
        border-top: none;
        height: 40px;
        border-bottom: 2px solid #0065FC;
    }
    .inscription-module{
        display: flex;
        align-items: center;
        height: 65px;
        margin: 5px;
        width: 20%;
        order: 2;
    }
    /* Navigation */
    .navigation{
        padding-left: 0px;
    }
    .filtres{
        flex-direction: column;
    }
    .filtre-responsiv{
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        min-height: 160px;
    }
    .icon-map{
        width: 20%;
    }
    .recherche-module{
        width: 100%;
    }
    .champ-recherche{
        width: 88%;
    }
    .recherche-button{
        display: none;
    }
    .icon-rechercher{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 20%;
        border-radius: 12px 12px 12px 12px;
        border: 2px solid #0065FC;
        background-color: #0065FC;
        color: white;
    }
    /* Hebergements */
    .hebergements{
        flex-direction: column-reverse;
    }
    .les-plus-populaires{
        width: 100%;
        margin: 0px;
        border-radius: 0;
    }
    .titre-plus-populaires{
        width: 95%;
    }
    .annonce-hm2{
        width: 90%;
        height: 23%;
    }
    .image-hm2{
        width: 160px;
    }
    .hebergements-marseille{
        background-color: white;
        width: 100%;
        margin: 0px;
        padding: 0;
        border-radius: 0; 
    }
    .group-annonce{
        flex-direction: column;
        flex-wrap: unset;
        width: 98%;
        height: 1200px;
    }
    .annonce-hm1{
        width: 90%;
        height: 15%;
    }
    /* Activités */
    .activites{
        justify-content: space-between;
        height: 1250px;
        margin: 0;
        padding: 0;
    }
    .titre-activite{
        height: 60px;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .group-activite{
        flex-direction: column;
        justify-content: space-between;
        height: 94%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .activites-module{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .group-act2{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 67%;
        margin: 0;
        padding: 0;
    }
    .annonce-act1, .annonce-act2-top, .annonce-act2-bot, .annonce-act3{
        height: 175px;
        width: 95%;
        margin: 0;
        padding: 0;   
    }
    .image-act1, .image-act2{
        height: 70%;
    }
    /* Footer */
    .reservia-footer{
        flex-direction: column;
        justify-content: space-between;
        height: 560px;
        margin-top: 0px;
        padding-top: 0px;
    }
    .module-footer{
        height: 140px;
        width: 90%;
        padding: 20px;
    }
    .footer-titre{
        height: 40%;
    }
}











/* Responsive Tablette
Tablette = 991px
*/
@media screen and (min-width: 481px) and (max-width: 991px){

}
